service: aws-eventbridge
frameworkVersion: "3"

provider:
  name: aws
  runtime: python3.9
  region: sa-east-1
  logRetentionInDays: 7
  layers:
    - !Ref PythonRequirementsLambdaLayer
  environment:
    LOG_LEVEL: DEBUG
    POWERTOOLS_LOGGER_SAMPLE_RATE: 0.1
    POWERTOOLS_LOGGER_LOG_EVENT: true

functions:
  apigwHello:
    handler: apigw.lambda_handler
    events:
      - httpApi:
          path: /
          method: get

  hello:
    handler: handler.lambda_handler
    events:
      - eventBridge:
          pattern:
            detail:
              status: [PAID]

package:
  individually: true
  patterns:
    - "!package-lock.json"
    - "!poetry.lock"
    - "!node_modules/**"
    - "!.mypy_cache/**"

plugins:
  - serverless-offline
  - serverless-python-requirements

custom:
  pythonRequirements:
    layer:
      compatibleRuntimes:
        - python3.9
